html,
body,
#cy {
  width: 100%;
  height: 100%;
}
body {
  margin: 0;
}

.first-bonus-chart {
  padding: 10px;
  position: absolute;
  z-index: 2;
  top: 20px;
  right: 20px;
  border: 1px solid black;
  border-radius: 10px;
}

.first-bonus-item {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 4px;
}

.first-bonus-item:last-child {
  margin-bottom: 0px;
}

.bonus-total {
  margin-right: 10px;
  color: gray;
}

.bonus-percentage {
}

.target-bonus-info {
  padding: 10px;
  position: absolute;
  z-index: 2;
  top: 20px;
  left: 20px;
  border: 1px solid black;
  border-radius: 10px;
}

.gray-background {
  position: absolute;
  background-color: lightgray;
  opacity: 0.8;
  width: 100vw;
  height: 100vh;
  z-index: 3;
  top: 0;
  left: 0;
}

.gray-background.hide {
  display: none;
}

.gray-background.show {
  display: block;
}

.menu {
  padding: 10px;
  z-index: 5;
  border: 1px solid black;
  background-color: white;
  border-radius: 10px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* opacity: 1; */
}

.menu.show {
  display: inline-block;
}

.menu.hide {
  display: none;
}

.menu-item {
  cursor: pointer;
}

.button-wrapper {
  position: absolute;
  z-index: 2;
  top: 90px;
  left: 20px;
}
